<% content_for :js do %>
  init_table()
<% end %>
<div id="update" class="col-md-offset-5 col-md-2 label label-info"><%= t(:auto_updated) %></div>
<br/>

<p id="notice"><%= notice %></p>
<div class="col-md-10 col-md-offset-1">
    <table id="incident-list" class="table dt-responsive" data-source="<%= incidents_url(format: "json") %>" >
      </tbody>
    </table>
</div>
<br>
