<div class="container">
    <h1>Editing Incident</h1>

    <%= render 'form' %>

    <button type="button" class="btn btn-default btn-md">
        <%= link_to 'Show', @incident %>
    </button>
    <button type="button" class="btn btn-default btn-md">
        <%= link_to 'Back', incidents_path %>
    </button>
</div>
