// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.fileupload-ui";
@import 'bootstrap-datetimepicker';
@import "bootstrap3-switch";
@import 'bootstrap-select';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "scaffolds.scss";
@import "table.scss";
@import "form.css";
@import "incidents.scss";
@import "priority.css";

.title {
    flex: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.high-priority {
    color: #e74c3c;
}

.medium-priority {
    color: #e67e22;
}

.low-priority {
    color: #f1c40f;
}

.submitted-at {
    color: black;
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.incident > .panel-heading {
    display: flex;
}

ul > .incident {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #efefef;
}

.incident-list {
    list-style: none;
    padding: 10px;
}

.incident-heading {
    display: flex;
    min-height: 50px;
}

.icon {
    font-size: 2em;
    margin-right: 10px;
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
