// Place all the styles related to the incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dataTables_filter{
   float:right
}
.pagination{
  float:right
}

.title {
    flex: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.high-priority {
    color: #e74c3c;
}

.medium-priority {
    color: #e67e22;
}

.low-priority {
    color: #f1c40f;
}

.submitted-at {
    color: black;
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.incident > .panel-heading {
    display: flex;
}

ul > .incident {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #efefef;
}

.incident-list {
    list-style: none;
    padding: 10px;
}

.incident-heading {
    display: flex;
    min-height: 50px;
}

.icon {
    font-size: 2em;
    margin-right: 10px;
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.incident-enter {
    opacity: 0.01;
}

.incident-enter.incident-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.incident-leave {
    opacity: 1;
}

.incident-leave.incident-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.clickable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bottom {
  float:right
}

.align-top {
    vertical-align: top;
}
